<div>
    HKS - HobiKardi Sõpruskond (GoKarting Fellowship in English) is a communiti of people, who likes GoKarting, enjoing fun of racing ang good fellowship. 
    We do not have any motosport background. We do have our own cup through the Estonian summer where we visit most of Estonian GoKarting tracks. 
    Our season starts in April and ends on October. Usually our season contains ten races. 
    You are welcome to join if you have passion for GoKarting and you value frendship and mutual respect. 
    As what we are doing is hobby for us then expect that by joining us you do not have official racing backgroung either. Fun first!
</div>