<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 left-container">
        <img src="assets/img/logo.jpg" alt="Logo" class="logo">
        <div class="text-content">
          <h1>Welcome to HKS</h1>
          <p>HKS - HobiKardi Sõpruskond/Go Karting Fellowship is a community of people, who likes Go Karting, enjoying fun of racing and good fellowship.</p>
          <p>We do have our own cup through the Estonian summer where we visit most of Estonian Go Karting tracks. Our season starts in April and ends in October. Usually, our season contains ten races. As we are fellowship community, we pay our cost by ourselves.</p>
          <p>You are welcome to join if you have passion for Go Karting and you value friendship and mutual respect and you are ready to pay your costs. As what we are doing is a hobby for us then expect that by joining us you do not have an official racing background. Fun first!</p>
        </div>
        <div class="button-container">
          <a href="/race" class="btn btn-primary">Races</a>
        </div>
      </div>
      <div class="col-md-6 image-container">
        <img src="assets/img/kart.jpg" alt="Go-Kart Racing" class="img-fluid">
      </div>
    </div>
  </div>

  <div style="height: 70px;"></div>