<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-3">Upcoming Races</h2>
      <div *ngFor="let race of races" class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="card-title m-0">{{ race.name }}</h3>
            <div>
              <button class="btn btn-primary me-2" (click)="selectRace(race)">Edit</button>
              <button class="btn btn-danger" (click)="deleteRace(race.id)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="race-details">
            <p class="card-text"><strong>Track:</strong> {{ race.location }}</p>
            <p class="card-text"><strong>Time:</strong> {{ race.time }}</p>
            <p class="card-text"><strong>Description:</strong> {{ race.description }}</p>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="openRegisterModal(race)">Register to race</button>
          </div>
        </div>
      </div>
      <button *ngIf="!isAddRaceFormVisible && !selectedRace" class="btn btn-primary mb-3" (click)="showAddRaceForm()">Add New Race</button>
      <div *ngIf="isAddRaceFormVisible || selectedRace">
        <h3 *ngIf="selectedRace">Edit Race</h3>
        <h3 *ngIf="!selectedRace">Add New Race</h3>
        <form [formGroup]="raceForm" (ngSubmit)="selectedRace ? updateRace() : addRace()">
          <div class="form-group">
            <label for="name">Race Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="location">Track</label>
            <select id="location" class="form-control" formControlName="location" required>
              <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="time">Time</label>
            <input type="text" id="time" class="form-control" formControlName="time" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description" required></textarea>
          </div>
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-secondary" (click)="clearRaceSelection()">Cancel</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="mb-3">Tracks</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Track Name</th>
            <th>Length (m)</th>
            <th class="text-end"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks">
            <td>{{ track.name }}</td>
            <td>{{ track.trackLength }}</td>
            <td class="text-end">
              <div class="d-flex justify-content-end">
                <button class="btn btn-primary me-2" (click)="selectTrack(track)">Edit</button>
                <button class="btn btn-danger" (click)="deleteTrack(track.id)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button *ngIf="!isAddTrackFormVisible && !selectedTrack" class="btn btn-primary mb-3" (click)="showAddTrackForm()">Add New Track</button>
      <div *ngIf="isAddTrackFormVisible || selectedTrack">
        <h3 *ngIf="selectedTrack">Edit Track</h3>
        <h3 *ngIf="!selectedTrack">Add New Track</h3>
        <form [formGroup]="trackForm" (ngSubmit)="selectedTrack ? updateTrack() : addTrack()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="trackLength">Length (m)</label>
            <input type="number" id="trackLength" class="form-control" formControlName="trackLength" required>
          </div>
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-secondary" (click)="clearTrackSelection()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register to Race Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Register to Race</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="member">Select Member</label>
          <select id="member" class="form-control" [(ngModel)]="selectedMemberId">
            <option *ngFor="let member of members" [ngValue]="member.id">{{ member.username }}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="registerMemberToRace()">Register</button>
      </div>
    </div>
  </div>
</div>

<div style="height: 50px;"></div>
