<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HKS Website</title>
  
</head>
<body>
  <div class="wrapper">
    <header class="container-fluid bg-black text-white p-3 d-flex justify-content-between align-items-center">
      <h1 class="m-0">HKS</h1>
      <nav class="d-flex">
        <a class="btn p-2 mx-2 px-5 btn-light" routerLink="/">Home</a>
        <a class="btn p-2 mx-2 px-5 btn-light" routerLink="/race">Races</a>
        <a class="btn p-2 mx-2 px-5 btn-light" routerLink="/e-shop">E-Shop</a>
        <a class="btn p-2 mx-2 px-5 btn-light" routerLink="/login">Login</a>
        <a class="btn p-2 mx-2 px-5 btn-light" routerLink="/admin-tab">Admin</a>
      </nav>
    </header>

    <main class="container mt-3 content">
      <router-outlet></router-outlet>
    </main>
    
    <footer class="container-fluid bg-black text-white p-2">
      <p>&copy; 2024 HKS. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>

